    .young-serif-regular {
        font-family: "Young Serif", serif;
        font-weight: 400;
        font-style: normal;
    }

    *{
        padding: 0;
        margin: 0;
        border: 0;
    }
    .section-one-tittle{
        color: purple;
        font-size: larger;
    }
    .navbar{
        display: flex;
        border-bottom: solid black 1px;
        padding: 10px;
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 3;
    }
    .section-three{
        gap: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .section-two{
        border: solid black 1px;
        border-radius: 50px;
        width: 60%;
        height: 40px;
        display: flex;
        gap: 10px;
        flex-direction: row;
        justify-content:start;
        align-items: center;
        background-color: transparent;
        
        
    }
    .section-two i{
        margin-left: 10px;
    }
    .section-two input:focus{
        outline: none  ;
    }
    .my-courses{
        position: relative;
        cursor: pointer;
    }
    .my-courses-popup{
        position: absolute;
        background-color: white;
        width: 100px;
        padding: 10px;
        border: solid black 1px;
        display: none;
        z-index: 2;
    }
    .my-courses:hover .my-courses-popup{
        display: block;
    }
        
    .catagories{
        display: flex;
        padding: 18px;
        justify-content: space-around;
    }
    .catagories p{
        background-color: purple;
        color: white;
        padding: 20px;
        border-radius: 15px;
        font-size: 20px;
        border: solid purple 1px;
        cursor: pointer;

    }
    .catagories p:hover{
        background-color: transparent;
        color: purple;
        border: solid purple 1px;
        transition: 1s;
    }
   .image-1{
    width: 100%;
    border: solid grey 1px;
    position: relative;
    height: 600px;
    z-index: 1;

   }
   .image{
    padding-top: 10px;
   }
   .card img{
    height: 200px;
   }
   .saleimage{
    background-color: white;
    border: solid black 2px;
    width: fit-content;
    padding: 20px;
    position: absolute;
    top: 54%;
    left: 9%;
    animation-name: glow;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    z-index: 2;
    font-size: larger;
   }
   @keyframes glow{
    0%{
        opacity: 0;

    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;

    }

   }
   
   .recommended{
    padding: 10px;
   }
   .card-1 img,.card-2 img,.card-3 img,.card-4 img,.card-5 img,.card-6 img,.card-7 img,.card-8 img{
    background-color: bisque;
    color: black;
    width: 100%;
   }
   .card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 10px;
    text-align: start;
    flex-basis: 1;
    width: 100%;
    padding: 15px;
   }

   .card-1,.card-2,.card-3,.card-4,.card-5,.card-6,.card-7,.card-8{
    border: solid grey 1px;
    padding: 5px;
    width: 20%;

    
   }
  
   .topics-container p{
    border: solid grey 1px;
    padding: 10px;
    font-size: larger;
    flex-basis: 25%;
    flex-grow: 1;
    text-align: center;


   }
   .topics-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
   }
   .recommended-below{
    padding: 10px;
    margin: 10px;
   }
   .footer-one{
    display: flex;
    padding: 10px;
   }
   .footer-two{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 20px    ;
   }
   
   .footer{
    background-color: black;
    color: white;

   }
   .footer-one p{
    margin: 20px;
   }
   @media screen and (max-width:600px){
    body{
        font-size: 10px;
    }
    }
    @media screen and (max-width:600px){
    .catagories{
        display: none;
    }
    .card-1,.card-2,.card-3,.card-4,.card-5,.card-6,.card-7,.card-8{
        width: 40%;
    }
    .section-three,.section-two{
        display: none;
    }
}
    